/* banner */

.slider {
    position: relative;
    background: #fff;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .navigation {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider:hover .navigation {
    opacity: 1;
  }
  
  .prev-btn,
  .next-btn {
    z-index: 999;
    font-size: 5em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    line-height: 0.5;
  }
  
  .prev-btn {
    padding-left: 0.70rem;
  }
  
  .next-btn {
    padding-right: 1.5rem;
  }
  
  .navigation-visibility {
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon {
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active {
    background: #c2185b;
  }
  
  @media (max-width: 900px) {
    .slider {
      width: 100%;
    }
  }
  
  @media (max-width: 500px) {
      .slider {
          width: 100%;
        }
  }